spring:
  datasource:
    url: ${H2_URL:jdbc:h2:file:./data/devdb;AUTO_SERVER=TRUE}
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

app:
  owner-password: ${OWNER_PASSWORD:letmein}
